body {
	color: #000000;
	font-family: sans-serif;
	font-size: 1.08em;
	line-height: 1.2;
	max-width: 1080px;
	padding: 30px;
}

a {
	color: #000888;
	text-decoration: none;
}

a:hover {
	color: #0070ff;
}

.contentList {
	font-size: 0.85em;
	font-style: italic;
	position: relative;
	text-align: right;
	top: -50px;
}

.toTop {
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
}

.incorrect {
	color: red;
}
